/*(ʘ言ʘ╬)(ʘ言ʘ╬)(ʘ言ʘ╬)
Q: Overflow hidden isn't working
*/

.ui {
    width:100%;
    z-index:1;
    overflow:hidden;
}

.pawnshop {
    position:absolute;
    width:30%;
    top:0%;
    right:-5%;
}

.container {
  margin: 2% auto 15% auto;
  width: 250px;
  height: 400px;
  position: relative;
  perspective: 1000px;
}


.carousel {
    margin: 35% auto 5%;
  height: 100%;
  width: 100%;
    position:absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(350px);
}
.b {
  transform: rotateY(45deg) translateZ(350px);
}
.c {
  transform: rotateY(90deg) translateZ(350px);
}
.d {
  transform: rotateY(135deg) translateZ(350px);
}
.e {
  transform: rotateY(180deg) translateZ(350px);
} 
.f {
  transform: rotateY(225deg) translateZ(350px);
}

.g {
  transform: rotateY(270deg) translateZ(350px);
}

.h {
  transform: rotateY(315deg) translateZ(350px);
}


.next, .prev {
  color: #444;
  position: absolute;
  bottom: -50%;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}

.prev {
    left:-10%;
}

.next {
    right:-10%;
}

.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  transform: translateY(2px);
  box-shadow: 0 1px 0 #999;
}