/*(ʘ言ʘ╬)(ʘ言ʘ╬)(ʘ言ʘ╬)
Q: Overflow hidden isn't working
*/

.ui {
    width:100%;
    z-index:1;
    overflow:hidden;
}

.pawnshop {
    position:absolute;
    width:30%;
    top:0%;
    right:-5%;
}

.container {
  margin: 5% auto 30% auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}


.carousel {
  height: 100%;
  width: 100%;
    position:absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
}
.b {
  transform: rotateY(60deg) translateZ(250px);
}
.c {
  transform: rotateY(120deg) translateZ(250px);
}
.d {
  transform: rotateY(180deg) translateZ(250px);
}
.e {
  transform: rotateY(240deg) translateZ(250px);
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
}

.g {
  transform: rotateY(360deg) translateZ(250px);
}


.next, .prev {
  color: #444;
  position: absolute;
  bottom: -150%;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}

.prev {
    left:-10%;
}

.next {
    right:-10%;
}

.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  transform: translateY(2px);
  box-shadow: 0 1px 0 #999;
}